@font-face {
  font-family: "OpenSans";
  
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
       url("../fonts/OpenSans-Regular.woff") format("woff"),
       url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
       url("../fonts/OpenSans-Bold.woff") format("woff"),
       url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

/* ------------------------------Всплывающее окно--------------------------- */

.popup-wrapper {
  position: absolute;
  z-index: 1;
  
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  
  background-color: #0f0d0e;
  opacity: 0.60;
}

.hidden {
  display: none;
}

.popup {
  position: relative;
  
  max-width: 390px;
  min-height: 589px;
  padding: 47px 30px;
  
  background-color: #ffffff;
}

.popup-close-hint {
  position: absolute;
  top: -26px;
  right: -5.8px;
}

.popup-close {
  position: absolute;
  top: -26px;
  right: -5.8px;
  
  width: 1.4em;
  height: 1em;
  
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup-close-cross {
  width: 1em;
  height: 1em;
  
  fill: #ffffff;
}

.form-header {
  position: relative;
  
  display: block;
  
  margin-bottom: 36px;
  
  font-size: 20px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-indent: 5px;
  text-transform: uppercase;
}

.form-header::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  
  display: block;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  
  background-color: #b59f5b;
  opacity: 0.4;
}

.form-group {
  margin-bottom: 27.5px;
}

.textarea {
  margin-bottom: 20px;
}

.select-group {
  position: relative;
}

.select-hint, .radio-hint, .textarea-hint {
  display: block;
  margin-bottom: 9px;
  
  font-size: 13px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  
  color: #000000;
}

.select {
  width: 330px;
  height: 48px;
  padding: 2px 19px 6px;
  appearance: none;
  
  word-spacing: 1.5px;
  text-indent: 1px;
  
  outline: none;
  background-color: #f4f7f6;
  border: none;
  opacity: 0.54;
}

.select-arrows {
  position: absolute;
  top: 42px;
  right: 13px;
  
  width: 10px;
  height: 17px;
  
  fill: #b59f5b;
}

.select:focus {
  border-bottom: 1px solid #b59f5b;
}

.radio {
  position: absolute;
  
  height: 1px;
  width: 1px;
  
  clip: rect(1px, 1px, 1px, 1px);
}

.radio-group {
  margin-right: 12.5px;
}

.radio-group-text {
  display: inline-block;
  
  font-size: 13px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  
  color: #000000;
}

.form-empty-circle {

  display: inline-block;
  vertical-align: middle;
  
  width: 1.2em;
  height: 1.2em;
  
  font-size: 15px;
  
  fill: #b59f5b;
}

.form-circle {
  display: none;
  vertical-align: middle;
  
  width: 1.2em;
  height: 1.2em;
  
  font-size: 15px;
  
  fill: #b59f5b;
}

.radio:checked ~ .form-empty-circle {
  display: none;
}

.radio:checked ~ .form-circle {
  display: inline-block;
}

.textarea-hint {
  word-spacing: 0.9px;
}

.textarea-field {
  min-width: 330px;
  max-width: 330px;
  min-height: 131px;
  max-height: 131px;
  padding: 15px 19px;
  
  appearance: none;
  resize: none;
  
  font-size: 13px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  word-spacing: 1.5px;
  text-indent: 1px;
  
  outline: none;
  background-color: #f4f7f6;
  border: none;
  opacity: 0.54;
}

.form-button {  
  width: 330px;
  height: 49px;
  padding: 14px 120px 14px 125px;
  
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #b59f5b;
}

.form-button:hover {
  border-top: 1px solid #adadad;
  cursor: pointer;
}

/*----------------------------------Шапка-----------------------------------------*/

.header {
  position: relative;
  z-index: 0;
  
  display: block;
  width: 100%;
  padding: 28px 0 125px 0;
  margin-bottom: 57px;
  
  background-color: #000000;
}

.header::after {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  
  background-color: #000000;
  opacity: 0.60;
}

.banner {
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}

.header-logo {
  position: relative;
  left: 3.7px;
  
  display: block;
  width: 179px;
  
  fill: #ffffff;
  stroke: #e8e8e8;
}

.logo-main-letter {
  fill: #b59f5b;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.menu-item {
  margin-right: 35px;
  
  font-size: 13px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  
  color: #ffffff;
}

.contacts {
  margin-right: 0;
}

.menu-link {
  text-decoration: none;
  
  color: inherit;
}

.menu-link:hover {
  text-decoration: underline; 
}

.burger-button {
  display: none;
  
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger-icon {
  width: 25px;
  height: 27px;
  
  fill: #ffffff;
}

.intro-title {
  position: relative;

  width: 688px;
  margin-left: auto;
  margin-right: auto;
  
  font-family: OpenSans, Arial, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 75px;
  
  color: #ffffff;
}

/*-------------------------------Блок Тренд----------------------------------*/

.trend-section-title {
  position: relative;
  
  display: block;
  width: 100%;
  margin: 0 0 40px;
  
  font-size: 20px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-indent: -3px;
  text-transform: uppercase;
}

.trend-section-title::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  
  display: block;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  
  background-color: #e1d9bd;
  opacity: 0.4;
}

.trend-section {
  display: flex;
  width: 100%;
  /*max-width: 1660px;
  margin: 0 auto;*/
  margin-bottom: 64px;
}

.trend {
  position: relative;
  
  display: flex;
  align-items: flex-end;
  width: calc(25% - (3px * 3) / 4);
  min-height: 320px;
  margin-right: 3px;
  padding: 133px 21px 15px;
  
  z-index: 0;
}

.lemons {
  margin-right: 0;
}

.trend::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  
  background-color: black;
  opacity: 0.6;
}

.trend-image {
  background-position: center 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eff6f1;
}

.garden-picture {
  background-image: url(../images/trend1.jpg);
}

.cheese-picture {
  background-image: url(../images/trend2.jpg);
}

.travel-picture {
  background-image: url(../images/trend3.jpg);
}

.lemons-picture {
  background-image: url(../images/trend4.jpg);
}

.trend-content {
  position: relative;
  
  width: 100%;
  padding: 35px;
  
  border: 3px solid #b59f5b;
}

.garden-content {
  left: -4px;
}

.cheese-content {
  left: -4px;
}

.travel-content {
  left: 2px;
}

.lemons-content {
  left: 2px;
}

.trend-items-list {
  position: relative;
  top: -1.5px;
  
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
  
  list-style-type: none;
}

.trend-item {
  margin-right: 19px;
  
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  
  color: #b59f5b;
}

.trend-item-link {
  text-decoration: none;
  
  color: inherit;
}

.trend-item-link:hover {
  text-decoration: underline;
}

.trend-title {
  position: relative;
  left: -2px;
  
  font-size: 20px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  line-height: 24px;
  letter-spacing: 0.1px;
  
  color: #ffffff;
}

.trend-title-link {  
  text-decoration: none;

  color: inherit;
}

.trend-title-link:hover {
  color: #b59f5b;
  cursor: pointer;
}

/* ----------------------Содержит блоки main и aside--------------------*/

.content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 58px;
  padding: 0 15px;
}

/*----------------------------Блок main-----------------------*/

.main {
  position: relative;
  left: -1px;
  
  max-width: 778px;
  margin-right: 35px;
}

.article {
  display: flex;
  margin-bottom: 60px;
}

.interior-pillows {
  margin-bottom: 0;
}

.article-picture {
  display: block;
  width: 381px;
  margin-right: 30px;
  
  object-fit: cover;
    
  background-color: #eff6f1;
}

.article-content {
  max-width: 367px;
}

.article-tags-list {
  position: relative;
  top: -3px;
  left: 2.5px;
  
  display: flex;
  margin-bottom: 4px;
  
  list-style-type: none;
}

.interior-pillows-tags {
  left: 0;
}

.article-tag-item {
  margin-right: 19px;
  
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  
  color: #b59f5b;
}

.article-tag-link {
  text-decoration: none;
  
  color: inherit;
}

.article-tag-link:hover {
  text-decoration: underline;
}

.article-title {
  margin-bottom: 27px;
  
  font-size: 20px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  line-height: 24px;
  letter-spacing: 0.1px;
  
  color: #0f0d0e;
}

.article-title-link {  
  text-decoration: none;

  color: inherit;
}

.article-title-link:hover {
  color: #b59f5b;
  cursor: pointer;
}

.article-date-author {  
  margin-bottom: 45px;
}

.yoga-date-author {
  position: relative;
  top: -1.1px;
}

.festivals-date-author {
  position: relative;
  top: -1.1px;
}

.article-date {
  margin-right: 9px;
  
  font-size: 12px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  
  color: #888888;
}

.article-author-name {
  font-size: 12px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  
  color: #000000;
}

.article-text {
  font-size: 15px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 22px;
  
  color: #0f0d0e;
}

.festivals-text {
  position: relative;
  top: -1.7px;
  
  margin-bottom: 11px;
}

/*---------------------------Блок aside------------------------------*/

.aside {
  position: relative;
  top: -4.2px;
  
  width: 272px;
}

/*--------------------------Блок "Новые посты"------------------*/

.new-posts {
  margin-bottom: 61px;
}

.new-posts-title {
  margin: 0 auto 40px auto;

  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-indent: 5px;
  
  color: #0f0d0e;
}

.new-posts-title::after {
  content: "";
  position: absolute;
  top: 29.7px;
  left: 0;
  right: 0;
  
  display: block;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  
  background-color: #e1d9bd;
  opacity: 0.4;
}

.new-post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.hairstyle {
  margin-bottom: 0;
}

.new-post-picture {
  display: block;
  width: 70px;

  background-color: #eff6f1;
}

.new-post-content {
  position: relative;
  left: 0.8px;
  
  width: 184px;
}

.cooking-post-content {
  top: -2.7px;
}

.hairstyle-post-content {
  top: -2.7px;
}

.new-post-date {
  position: relative;
  top: -3px;
  
  display: block;
  
  font-size: 12px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  
  color: #888888;
}

.new-post-title {
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  text-align: left;
  line-height: 18px;
  
  color: #000000;
}

.new-post-link {
  text-decoration: none;
  
  color: inherit;
}

.new-post-link:hover {
  color: #b59f5b;
}

/* ---------------------------Форма поиска------------------- */

.search {
  position: relative;
  
  width: 272px;
  margin-bottom: 58px;
}

.visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.search-field {
  box-sizing: border-box;
  width: 272px;
  height: 48px;
  padding: 18px 66px 20px 18px;
 
  font-size: 13px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
 
  outline: none;
  background-color: #f4f7f6;
  border: none;
  opacity: 0.54;
}

.search-field:focus {
  border: 1px solid #b59f5b;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  
  width: 3.2em;
  height: 3.2em;
  font-size: 15px;

  border: none;
  background-color: #b59f5b;
}

.search-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.search-icon {
  width: 1.2em;
  height: 1.2em;
  
  fill: #ffffff;
  stroke: #b59f5b;
}

/*---------------------------------Блок "Рассылка"-----------------*/

.distribution {
  margin-bottom: 54px;
}

.distribution-title {
  position: relative;
  top: -2.2px;
  left: -2.4px;
  
  margin: 0 auto 36px auto;
  
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  
  color: #0f0d0e;
}

.distribution-title::after {
  content: "";
  position: absolute;
  top: 29.7px;
  left: 0;
  right: 0;
  
  display: block;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  
  background-color: #e1d9bd;
  opacity: 0.4;
}

/*------------------------Форма подписки на рассылку---------------*/

.distribution-subscribe {
  width: 272px;
}

.email-field {
  width: 272px;
  height: 48px;
  margin-bottom: 18px;
  padding: 18px 18px 20px;
  
  font-size: 13px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  
  outline: none;
  border: none;
  background-color: #f4f7f6;
  opacity: 0.54;
}

.email-field:focus {
  border-bottom: 1px solid #b59f5b;
}

.subscription-button {  
  width: 272px;
  height: 48px;
  padding: 14px 82px 22px;
  
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #b59f5b;
}

.subscription-button:hover {
  background-color: #323232;
  border-top: 1px solid #adadad;
  cursor: pointer;
}

/*-------------------------Блок "Теги"-----------------------*/

.tags {
  margin-bottom: 49px;
}

.tags-title {
  position: relative;
  
  margin: 0 auto 38px auto;
    
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  
  color: #0f0d0e;
}

.tags-title::after {
  content: "";
  position: absolute;
  top: 29.7px;
  left: 0;
  right: 0;
  
  display: block;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  
  background-color: #e1d9bd;
  opacity: 0.4;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  display: block;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 3.5px 13px;
  
  font-size: 12px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  text-indent: 1px;
  
  list-style-type: none;
  border: 3px solid #ededed;
  color: #0f0d0e;
}

.tag-item:hover {
  border-color: #b59f5b;
}

.food-tag-item {
  padding: 3.5px 11px;
}

.health-tag-item {
  margin-right: 0;
  padding: 3.5px 11px;
}

.tag-item-link {
  position: relative;
  top: -2px;
  
  text-decoration: none;
  
  color: inherit;
}

.travel-item-link {
  left: -3.4px;
}

.health-item-link {
  left: 1.2px;
}

/*-------------------------Блок "Темы"------------------*/

.themes-title {
  position: relative;
  top: -1.4px;
  left: 2.4px;
  
  margin: 0 auto 22px auto;
  
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  
  color: #0f0d0e;
}

.themes-title::after {
  content: "";
  position: absolute;
  top: 29.7px;
  left: 0;
  right: 0;
  
  display: block;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  
  background-color: #e1d9bd;
  opacity: 0.4;
}

.themes-list {
  list-style-type: none;
}

.theme-item {
  display: flex;
  padding-top: 15px;
  padding-bottom: 11.3px;
  
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  
  border-bottom: 1px solid #eeeeee;
  color: #000000;
}

.theme-link {
  display: block;
  margin-right: 5px;
  
  text-decoration: none;
  
  color: inherit;
}

.theme-link:hover {
  color: #b59f5b;
}

.theme-quantity {
  display: block;
  
  font-size: 12px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  
  color: #b59f5b;
}

/*-----------------------------Блок Магазин------------------------------*/

.shop-section-title {
  position: relative;
  
  display: block;
  max-width: 1200px;
  margin: 0 auto 40px;
  padding: 0 15px;
  
  font-size: 20px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-indent: -3px;
  
  color: #0f0d0e;
}

.shop-section-title::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  right: 1px;
  
  display: block;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  
  background-color: #e1d9bd;
  opacity: 0.4;
}

.shop-section {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 64px;
  padding: 0 15px;
}

.product {
  display: flex;

  flex-direction: column;
  align-items: center;

  width: calc(33.333% - 66px * 2 / 3); /*margin-right: 66px*/
}

.product-imgbox {
  min-height: 204px;
  padding: 0 20px;
}

.product-img {
  width: 100%;
  height: 100%;
  
  object-fit: cover;
}

.product-body {
  position: relative;
  
  flex-grow: 1;
  min-height: 267px;
  margin-top: -34px;
  padding: 49px 20px 20px;
  
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.product-title {
  position: relative;
  left: -2.5px;
  
  margin-bottom: 2px;
  
  font-size: 20px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  line-height: 24px;
  letter-spacing: 0.1px;
  
  color: #0f0d0e;
}

.product-title-link {  
  text-decoration: none;

  color: inherit;
}

.product-title-link:hover {
  color: #b59f5b;
  cursor: pointer;
}

.about-product-link {
  text-decoration: none;
  
  color: #b59f5b;
}

.about-product-link:hover {
  text-decoration: underline;
}

.product-text {
  position: relative;
  
  margin-bottom: 22px;
  
  font-size: 15px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 22px;
  
  color: #0f0d0e;
}

.frame-text {
  left: -3.6px;
}

.product-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.product-price {
  position: relative;
  
  display: flex;
  
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  
  color: #0f0d0e;
}

.price-old {
  text-decoration: line-through;
}

.frame-price-old {
  left: -2.5px;
}

.rub-old {
  position: relative;
}

.price-new {
  top: -4.8px;
  
  font-size: 20px;
  text-indent: 1px;
}

.frame-price-new {
  left: -1.7px;
}

.rub-new {
  position: relative;
}

.rabbit-rub-new {
  left: 4px;
}

.product-button {
  position: relative;
  
  width: 140px;
  height: 49px;
  padding: 15px 27px 19px 27px;
  
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #b59f5b;
}

.product-button:hover {
  background-color: #323232;
  border-top: 1px solid #adadad;
  cursor: pointer;
}

/*--------------------------Подвал----------------*/

.footer {
  max-width: 1200px;
  margin: 0 auto 41px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.socials {
  margin-bottom: 73px;
  padding-top: 31px;
  padding-bottom: 32px;
  
  background-color: #f4f7f6;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  
  list-style-type: none;
}

.social-link {
  display: block;
  width: 2.22em;
  height: 1.48em;
  
  font-size: 13.5px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  
  background-repeat: no-repeat;
  color: #000000;
}

.social-link-last {
  margin-right: 0;
}

.dribble-icon {
  position: relative;
  top: -1.5px;
  left: -15px;
  
  width: 2.22em;
  height: 1.48em;
}

.pinterest-icon {
  position: relative;
  left: 3px;
  top: -1.5px;
  
  width: 2.22em;
  height: 1.48em;
}

.tumblr-icon {
  position: relative;
  left: 19px;
  top: -1.5px;
  
  width: 2.22em;
  height: 1.48em;
}

/*-------------------Блок Авторское право-----------------*/

.copyright {
  position: relative;
  top: -3.2px;
  left: 3.4px;
  
  display: block;
  
  font-size: 12px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-indent: 2px;
  text-decoration: none;
  
  color: #999999;
}

/*---------------------------------Медиа запросы----------------------------*/

@media (max-width: 1200px) {
  .popup-close {
    top: -36.6px;
    right: -5.4px;
    
    width: 1.4em;
    
    font-size: 26px;
  }
  
  .form-header {
    top: 1.4px;
    left: -2px;
    
    margin-bottom: 39.5px;
    
    font-size: 18px;
  }
  
  .radio-group {
    margin-right: 30px;
  }
  
  .form-empty-circle {
    font-size: 22px;
  }
  
  .form-circle {
    font-size: 22px;
  }
  
  .header {
    margin-bottom: 44px;
    padding-top: 43px;
    padding-bottom: 113px;
  }
  
  .header-container {
    width: 100%;
    padding: 0 35px;
  }
  
  .header-logo {
    width: 157px;
    left:0 ;
  }
  
  .banner {
    background-image: url("../images/banner-bg-tablet.jpg");
  }
  
  .menu {
    display: none;
  }
  
  .burger-button {    
    display: inline-block;
  }
  
  .header-navigation {
    margin-bottom: 90px;
  }
  
  .intro-title {
    width: 92%;
    
    font-size: 40px;
    line-height: 55px;
  }
  
  .trend-section-title {
    margin-bottom: 33px;
    
    font-size: 18px;
  }
  
  .content {
    width: 100%;
    margin: 0 0 42px;
    padding: 0 35px;
  }
  
  .main {
    flex-grow: 1;
  }
  
  .article {
    flex-direction: column;
    margin-bottom: 46px;
    padding-bottom: 18px;
    
    border-bottom: 3px solid #eeeeee;
  }
  
  .festivals {
    margin-bottom: 42.2px;
  }
  
  .cooking {
    margin-bottom: 44px;
  }
  
  .interior-pillows {
    margin-bottom: 0;
    
    border-bottom: none;
  }
  
  .article-picture {
    width: 100%;
    min-height: 302px;
    margin-right: 0;
    margin-bottom: 11px;
  }
  
  .yoga-picture {
    position: relative;
    top: -4px;
  }
  
  .festival-picture {
    position: relative;
    top: -6px;
  }
  
  .article-content {
    max-width: 100%;
  }
  
  .article-tags-list {
    margin-bottom: 9px;
  }
  
  .sightseeing-tags {
    top: -1.5px;
    left: 1px;
  }
  
  .festivals-tags {
    top: -4px;
    left: 0;
  }
  
  .cooking-tags {
    top: 1px;
    left: 2px;
  }
  
  .interior-pillows-tags {
    top: -1.4px;
    left: 0.7px;
  }
  
  .article-title {
    margin-bottom: 27.7px;
    
    font-size: 17px;
    line-height: 22px;
  }
  
  .yoga-title {
    position: relative;
    top: -4px;
  }
  
  .festivals-title {
    position: relative;
    top: -4px;
    
    margin-bottom: 26px;
    
    letter-spacing: -0.1px;
  }
  
  .article-date-author {
    margin-bottom: 27.3px;
  }
  
  .yoga-date-author {
    top: -1.8px;
    left: -1.9px;
  }

  .festivals-date-author {
    top: -1.8px;
    left: -1.9px;
    
    margin-bottom: 25px;
  }
  
  .cooking-date-author {
    position: relative;
    top: 2px;
  }
  
  .festivals-text {
    top: 0;
    left: -2px;
    
    margin-bottom: 9px;
  }
  
  .interior-pillows-text {
    letter-spacing: 0.1px;
  }
  
  .aside {
    top: -5.3px;
    left: 0px;
  }
  
  .search-button {
    right: 1.3px;
  }
  
  .distribution-title {
    left: -3.2px;
  }
  
  .subscription-button {
    position: relative;
    left: -0.6px;
  }
  
  .tags {
    margin-bottom: 51px;
  }
  
  .interior-tag-item {
    padding: 3.5px 12px;
  }
  
  .travel-tag-item {
    padding: 3.5px 12px;
  }
  
  .tag-item-link {
    top: 0;
  }
  
  .themes-title {
    left: 1.3px;
  }
  
  .theme-item {
    padding-top: 15px;
    padding-bottom: 9.8px;
  }
  
  .theme-quantity {
    position: relative;
    top: -2px;
    
    font-size: 13px;
  }
  
  .shop-section-title {
    top: 1px;
    left: 1.5px;
    
    font-size: 18px;
  }
  
  .shop-section {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 35px;
    margin-bottom: 41px;
  }
  
  .product {
    width: calc(50% - 22px / 2); /*margin-right: 22px*/
  }
  
  .couch-pillow {
    margin-bottom: 27px;
  }
  
  .rabbit-doll {
    margin-bottom: 27px;
  }
  
  .product-imgbox {
    min-height: 227px;
  }
  
  .product-body {
    left: -0.9px;
    top: -2px;
  }
  
  .frame-body {
    top: -6.6px;
    
    min-height: 248px;
    margin-top: -38px;
  }
  
  .product-title {
    left: -2.3px;
    
    font-size: 17px;
  }
  
  .frame-title {
    top: 3.2px;
    left: 0;
  }
  
  .pillow-text {
    left: -1px;
  }
  
  .rabbit-text {
    left: -1px;
  }
  
  .frame-text {
    top: 2.3px;
    left: 0.3px;
  }
  
  .frame-price-old {
    left: 0;
  }
  
  .rub-old {
    left: 4.8px;
  }
  
  .price-new {
    text-indent: 2px;
  }

  .frame-rub-new {
    position: relative;
    left: 4.6px;
  }
  
  .product-button {
    left: -1.4px;
  }
  
  .frame-button {
    top: 1.3px;
    left: 0;
  }
  
  .footer {
    padding: 0 35px;
  }
  
  .socials {
    margin-bottom: 49px;
  }
  
  .copyright {
    left: 2.4px;
  }
}

@media (max-width: 1200px) and (orientation: portrait) {
  .trend-section {
    flex-wrap: wrap;
    margin-bottom: 52px;
  }
  
  .trend {
    width: calc(50% - 3px / 2);
    min-height: 246px;
    padding: 72px 21px 15px;
  }
  
  .garden {
    margin-bottom: 3px;
  }
  
  .cheese {
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .trend-content {
    padding: 32px;
  }
  
  .garden-content {
    left: -1.4px;
  }
  
  .cheese-content {
    left: -1.4px;
  }
  
  .travel-content {
    left: 1px;
  }
  
  .lemons-content {
    left: 1px;
  }
  
  .trend-items-list {
    text-indent: -1.3px;
  }
  
  .trend-title {
    position: relative;
    top: 2.3px;
    left: -3.2px;
    
    font-size: 17px;
    line-height: 22px;
  }
}

@media (max-width: 640px) {
  .popup-wrapper {
    padding: 0 15px;
  }
  
  .popup {
    width: 100%;
    min-height: auto;
    padding: 24px;
  }
  
  .popup-close {
    top: -32px;
    right: -4px;
  }
  
  .form-header {
    font-size: 16px;
  }
  
  .form-header::after {
    top: 32px;
  }
  
  .select {
    width: 100%;
  }
  
  .select-arrows {
    top: 41.4px;
    right: 16px;
  }
  
  .textarea-field {
    min-width: 100%;
  }
  
  .form-button {
    width: 100%;
    padding: 14px 99px 14px 99px;
  }
  
  .header {
    margin-bottom: 39px;
    padding-top: 23px;
    padding-bottom: 210px;
  }
  
  .banner {
    background-image: url("../images/banner-mobile.jpg");
  }
  
  .header-container {
    padding: 0 15px;
  }
  
  .header-navigation {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
  
  .header-logo {
    width: 270px;
    margin-bottom: 36px;
  }
  
  .burger-button {
    position: relative;
    top: 3px;
    left: 1px;
    
    align-self: flex-end;
    margin-bottom: 172px;
  }
  
  .intro-title {
    top: -2px;
    left: 2px;
    
    font-size: 26px;
    line-height: 36px;
  }
  
  .trend-section-title {
    font-size: 16px;
  }
  
  .trend-section-title::after {
    top: 29px;
  }
  
  .content {
    flex-direction: column;
    margin-bottom: 32px;
    padding: 0 15px;
  }
  
  .main {
    margin-right: 0;
    margin-bottom: 48px;
  }
  
  .article {
    margin-bottom: 36px;
  }
  
  .interior-pillows {
    margin-bottom: 0;
    
    border-bottom: 3px solid #eeeeee;
  }
  
  .article-picture {
    min-height: 254px;
  }
  
  .yoga-picture {
    top: 0;
  }
  
  .festival-picture {
    top: 0;
  }
  
  .yoga-tags {
    top: -1px;
  }
  
  .festivals-tags {
    top: -1px;
  }
  
  .interior-pillows-tags {
    top: 2.2px;
  }
  
  .article-title {
    margin-bottom: 15px;
    
    font-size: 16px;
    line-height: 20px;
  }
  
  .yoga-title {
    top: -1px;
  }
  
  .festivals-title {
    margin-bottom: 14px;
  }
  
  .article-date-author {
    margin-bottom: 15px;
  }
  
  .festivals-date-author {
    margin-bottom: 13px;
  }
  
  .cooking-date-author {
    top: 0;
  }
  
  .article-text {
    font-size: 14px;
    line-height: 20px;
  }
  
  .sightseeing-text {
    word-spacing: 0.2px;
  }
  
  .yoga-text {
    position: relative;
    top: -2.2px;
  }
  
  .festivals-text {
    margin-bottom: 4.5px;
  }
  
  .interior-pillows-text {
    position: relative;
    top: 1px;
  }
  
  .aside {
    left: 0;
   
    width: 100%;
  }
  
  .new-posts-title {
    position: relative;
    left: -3px;
    
    font-size: 16px;
  }
  
  .new-post {
    justify-content: flex-start;
  }
  
  .new-post-picture {
    margin-right: 19px;
  }
  
  .new-post-content {
    top: -2px;
    
    flex-grow: 1;
  }
  
  .new-post-title {
    position: relative;
    left: -1px;
    top: -1px;
  }
  
  .search {
    width: 100%;
    margin-bottom: 37px;
  }
  
  .search-field {
    width: 100%;
  }
  
  .search-button {
    right: -0.8px;
  }
  
  .search-icon {
    position: relative;
    left: 1.6px;
    top: 1px;
  }
  
  .distribution {
    margin-bottom: 37.5px;
  }
  
  .distribution-title {
    left: -0.8px;
    top: -0.6px;
    
    font-size: 16px;
  }
  
  .distribution-title::after {
    top: 32px;
  }
  
  .distribution-subscribe {
    width: 100%;
  }
  
  .email-field {
    width: 100%;
  }
  
  .subscription-button {
    width: 100%;
    padding: 14px 111px 15px;
    
    text-align: center;
  }
  
  .tags {
    margin-bottom: 39px;
  }
  
  .tags-title {
    left: -1.3px;
    
    font-size: 16px;
  }
  
  .tags-title::after {
    top: 32px;
  }
  
  .fashion-tag-item {
    text-indent: 0;
  }
  
  .art-tag-item {
    padding: 3.5px 12.8px;
  }
  
  .interior-tag-item {
    padding: 3.5px 11.5px;
    
    text-indent: 0;
  }
  
  .travel-tag-item {
    padding: 3.5px 11.5px;
  }
  
  .themes-title {
    top: 0;
    left: -1.4px;
    
    font-size: 16px;
    margin-top: -8.2px;
  }
  
  .themes-title::after {
    top: 32px;
  }
  
  .theme-item {
    padding-bottom: 10px;
  }
  
  .theme-quantity {
    top: 0;
    left: -2px;
  }
  
  .shop-section-title {
    font-size: 16px;
  }
  
  .shop-section-title::after {
    top: 32px;
  }
  
  .shop-section {
    flex-direction: column;
    margin-bottom: 36px;
    padding: 0 15px;
  }
  
  .product {
    width: 100%;
  }
  
  .couch-pillow {
    margin-bottom: 22px;
  }
  
  .product-imgbox {
    min-height: 285px;
  }
  
  .product-body {
    margin-top: -30px;
    padding: 49px 18px 18px;
  }
  
  .pillow-body {
    min-height: 218px;
  }
  
  .rabbit-body {
    min-height: 215px;
  }
  
  .frame-body {
    min-height: 237px;
  }
  
  .pillow-title {
    top: -1.7px;
  }
  
  .rabbit-title {
    position: relative;
    left: -0.8px;
    top: -2.1px;
  }
  
  .frame-title {
    top: -3.7px;
  }
  
  .pillow-text {
    top: -3px;
  }
  
  .rabbit-text {
    top: -2.8px;
  }
  
  .frame-text {
    top: -4px;
    
    word-spacing: -0.6px;
  }
  
  .pillow-price-old {
    top: -1.2px;
  }
  
  .frame-price-old {
    top: -3.6px;
  }
  
  .pillow-price-new {
    top: -7.5px;
  }
  
  .rabbit-price-new {
    top: -9px;
  }
  
  .frame-price-new {
    top: -9px;
  }
  
  .pillow-button {
    top: -2.1px;
  }
  
  .rabbit-button {
    top: -3.7px;
  }
  
  .frame-button {
    top: -5.8px;
    left: -1px;
  }
  
  .footer {
    padding: 0 15px;
  }
  
  .dribble-icon {
    top: 0.6px;
  }
  
  .pinterest-icon {
    top: 0.6px;
  }
  
  .tumblr-icon {
    top: 0.6px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .trend-section {
    margin-bottom: 42px;
  }
  
  .trend {
    width: 100%;
    min-height: 232px;
    padding: 67px 15px 15px;
  }
  
  .garden {
    margin-right: 0;
  }
  
  .travel {
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .trend-content {
    width: 100%;
    padding: 30px 25px 25px;
  }
  
  .garden-content {
    left: 0;
  }
  
  .cheese-content {
    left: 0;
  }
  
  .travel-content {
    top: -2.2px;
    left: 1px;
  }
  
  .lemons-content {
    top: -2.2px;
    left: 1px;
  }
  
  .trend-items-list {
    left: -2.3px;
    top: -3px;
    
    text-indent: -1.3px;
  }
  
  .trend-title {
    top: 0px;
    left: -6px;
    
    font-size: 16px;
    word-spacing: -1.5px;
  }
}